@model PrivacyModel
@{
    TempData["holi"] = "helo";
}

<p class="text-success">标签</p>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div>
</div>

<div id="Tags">
    <button type="button" class="btn btn-primary" item-data="primary">Primary
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
        </svg>
    </button>
    <button type="button" class="btn btn-secondary" item-data="secondary">Secondary
        <svg class="bi" width="16" height="16" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#Bookmarks" />
        </svg></button>
    <button type="button" class="btn btn-success " item-data="success">Success</button>
    <button type="button" class="btn btn-danger" item-data="danger">Danger</button>
    <button type="button" class="btn btn-warning" item-data="warning">Warning</button>
    <button type="button" class="btn btn-info" item-data="info">Info</button>
</div>

<script>

</script>