@model PrivacyModel
@{
    TempData["holi"] = "helo";
}

<p>hello this is in tag partial block</p>
<div id="GreatTags">
    <span class="label label-default" item-data="1">Default</span>
    <span class="label label-primary" item-data="2">Primary</span>
    <span class="label label-success" item-data="3">Success</span>
</div>