@page
@model PrivacyModel
@{
    Layout = "_LayoutCustomize";

    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form method="post" class="col-4">
    <div>
        <p>This is main page.</p> <br />

        <partial name="XTags" model=Model />       @*@await Html.PartialAsync("XTags", Model)*@
    </div>

    <input type="hidden" name="temp" id="temp" />
    <input type="submit" id="submit"/>
    
</form>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                var x = "";
                $(".btn").each(function () { x += $(this).attr("item-data") })
                $("#temp").val(x);
            });
        });
    </script>
}




