@page
@model PrivacyModel
@{
    Layout = "_LayoutCustomize";

    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
        <p>This is main page.</p> <br />
        @await Html.PartialAsync("XTags", Model)
    </div>
    <input type="hidden" name="temp" id="temp" />
    <input type="submit" id="submit"/>
</form>

<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            var x = "";
            $(".label").each(function () { x += $(this).attr("item-data") })
            $("#temp").val(x);
        });       
    });
</script>



