@page
@model PartialTest.Pages.vueModel
@{
    Layout = "_LayoutWithVue";
}
<form method="post">
    <input v-model="hello" placeholder="..." />
    Message:{{ hello }}
</form>

<p>
    {{ bello }}
</p>



@section Scripts{
    <script language="javascript">

        var a = new Vue({
            el:'#app',
            data: {
                hello: '@Model.Message',
                bello: 'abc'
            }
        })
    </script>
}